{% extends "DoplusParatronicBundle::layout.html.twig" %}

{% block title %} Accueil |{{ parent() }} {% endblock %}
{% block content %}
    <div id="user-infos">
            <h1>{% if user.username %}Modifier {% else %}Ajouter {% endif %}utilisateur</h1>
            {% if form_errors(formUser.email) != NULL or form_errors(formUser.username) != NULL or form_errors(formUser.image) != NULL %}
                <section id="messages" class="error">
                        <div class="margin">
                                <p>{{ form_errors(formUser.email) }}</p>
                                <p>{{ form_errors(formUser.username) }}</p>
                                <p>{{ form_errors(formUser.image) }}</p>
                        </div>				
                        <div class="clear"></div>
                </section>
            {% endif %}
                        {{ form_start(formUser, {'id': "form-user-action", 'attr': {'class': 'form-horizontal'}}) }}
                            <div id="user-infos-form" class="col2-3">

                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_label(formUser.nom, "Nom *") }}
                                        {{ form_widget(formUser.nom, {'id': 'nom'}) }}
                                    </div>
                            </div>
                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_label(formUser.prenom, "Prénom *") }}
                                        {{ form_widget(formUser.prenom, {'id': 'prenom'}) }}
                                    </div>
                            </div>

                            <div class="clear"></div>

                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_label(formUser.fonction, "Fonction") }}
                                        {{ form_widget(formUser.fonction, {'id': 'fonction'}) }}
                                    </div>
                            </div>

                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_label(formUser.image, "Photo (150x150)") }}
                                        {{ form_widget(formUser.image, {'id': 'image'}) }}
                                    </div>
                            </div>
                            <!-- ATTENTION - la div ci-dessous est à positionner quoi qu'il arrive après le champs d'ajout de photo -->
                            <div class="colx3 col-picture">
                                <div class="margin">
                                    {% if user.pathImage %}
                                        <label for="user-edit-photo">Photo existante</label>
                                        <div class="user-infos-picture">
                                                <img src="{{ asset(user.getWebPath()) }}" height="70" />
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- ATTENTION - respecter les classes colx3 et col-picture pour la zone photo existante -->

                                                    <!-- ATTENTION - toujours ajouter un clear après la photo et redémarrer l'imprication normalement -->
                            <div class="clear"></div>
                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_label(formUser.telephone, "Téléphone") }}
                                        {{ form_widget(formUser.telephone, {'id': 'telephone'}) }}
                                    </div>
                            </div>

                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_label(formUser.email, "Mail *") }}
                                        {{ form_widget(formUser.email, {'id': 'email'}) }}
                                    </div>
                            </div>

                            <div class="colx2">
                                    <div class="margin">
                                            {{ form_label(formUser.alerte, "Alerte") }}
                                            <div class="option-check-rad">
                                                {{ form_widget(formUser.alerte, {'id': 'alerte'}) }}
                                            </div>
                                            <div class="clear"></div>
                                    </div>
                            </div>

                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_label(formUser.niveauAlerte, "Ordre alerte") }}
                                        {{ form_widget(formUser.niveauAlerte, {'id': 'niveauAlerte'}) }}
                                    </div>
                            </div>

                            <div class="clear"></div>

                            <div class="colx2">
                                     <div class="margin">
                                        {{ form_label(formUser.username, "Login *") }}
                                        {{ form_widget(formUser.username, {'id': 'username'}) }}
                                    </div>
                            </div>
                                    {% if user.username %}
                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_label(formUser.password, "Mot de passe *") }}
                                        {{ form_widget(formUser.password, {'id': 'password'}) }}
                                    </div>
                            </div>
                                    {% endif %}
                            <div class="clear"></div>
                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_label(formUser.client, "Client *") }}
                                        {{ form_widget(formUser.client, {'id': 'client', 'attr': {'class': 'selectmenu-jqui'}}) }}
                                    </div>
                            </div>

                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_label(formUser.etat, "Etat") }}
                                        <div class="checkbox">
                                            Actif{{ form_widget(formUser.etat, {'id': 'etat'}) }}
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                            </div>

                            <div class="clear"></div>
                            <div class="colx2">
                                    <div class="margin">
                                            {{ form_label(formUser.droits, "Droits") }}
                                            {{ form_widget(formUser.droits, {'id': 'droits', 'attr': {'class': 'selectmenu-jqui'}}) }}
                                    </div>
                            </div>

                            <p>
                                <input type="hidden" name="id" value="" />
                            </p>


            </div>

                    <div class="clear"></div>
                    <div id="user-edit-form">

                                    <div class="colx2">
                                            <div class="colx3">
                                                    <div class="margin">
                                                        <input type="button" value="Annuler" onclick="window.location.href='{{ path('doplus_paratronic_admin_menu') }}';">
                                                    </div>
                                            </div>
                                            <div class="colx3">
                                                    <div class="margin">
                                                            <input type="submit" name="valider_utilisateur" value="Valider">
                                                    </div>
                                            </div>
                                            <div class="colx3">
                                                    <div class="margin">
                                                            <input type="submit" name="suppr_utilisateur" value="Supprimer">
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="clear"></div>

                    </div>	


    </div>
                                                        {{ form_widget(formUser._token) }}
{{ form_end(formUser, {'render_rest': false}) }}
{% endblock %}
