<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Mail Pre-alerte</title>
</head>
<body>
    {% block content %}
<p>
    Alerte !<br><br>
    
    Bonjour {{ user.nom }} {{ user.prenom }},<br>
    Pre-alerte : La mesure du capteur '{{ mesure.capteur.nom }}' a dépassé le seuil d'alerte de {{ mesure.capteur.seuilPreAlerte }} {{ mesure.capteur.unite.valeur }}.<br>
    Le capteur indique {{ mesure.valeur }} {{ mesure.capteur.unite.valeur }}.<br>
    Pour s'acquitter de la pre-alerte cliquer sur ce lien : <a href="localhost{{ path('doplus_paratronic_alerte_acquittement', {'id': alerte.id}) }}">S'acquitter de la pre-alerte du capteur {{ mesure.capteur.nom }}</a>
    <br><br>Paratronic Superviseur
</p>
    {% endblock %}
</body>
</html>