{% extends "DoplusParatronicBundle::layout.html.twig" %}

{% block title %} Accueil |{{ parent() }} {% endblock %}
{% block content %}
    <div id="user-infos">
            <h1>Modifier capteur</h1>
            {{ form_start(formCapteur, {'id': "form-capteur-action", 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(formCapteur) }}
            <div id="user-infos-form" class="col2-3">

                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_errors(formCapteur.nom) }}
                                        {{ form_label(formCapteur.nom, "Nom") }}
                                        {{ form_widget(formCapteur.nom, {'id': 'nom'}) }}
                                    </div>
                            </div>

                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_errors(formCapteur.unite) }}
                                        {{ form_label(formCapteur.unite, "Unité") }}
                                        {{ form_widget(formCapteur.unite, {'id': 'unite', 'attr': {'class': 'form-control'}}) }}
                                    </div>
                            </div>
                            <div class="clear"></div>
                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_errors(formCapteur.image) }}
                                        {{ form_label(formCapteur.image, "Photo (150x150)") }}
                                        {{ form_widget(formCapteur.image, {'id': 'image'}) }}
                                    </div>
                            </div>
                            <!-- ATTENTION - respecter les classes colx3 et col-picture pour la zone photo existante -->

                                                    <!-- ATTENTION - toujours ajouter un clear après la photo et redémarrer l'imprication normalement -->
                            <div class="clear"></div>
                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_errors(formCapteur.seuilPreAlerte) }}
                                        {{ form_label(formCapteur.seuilPreAlerte, "Seuil pré-alerte") }}
                                        {{ form_widget(formCapteur.seuilPreAlerte, {'id': 'seuilPreAlerte'}) }}
                                    </div>
                            </div>
                            <div class="colx2">
                                    <div class="margin">
                                        {{ form_errors(formCapteur.seuilAlerte) }}
                                        {{ form_label(formCapteur.seuilAlerte, "Seuil d'alerte") }}
                                        {{ form_widget(formCapteur.seuilAlerte, {'id': 'seuilAlerte'}) }}
                                    </div>
                            </div>


                             <div class="colx2">
                                     <div class="margin">
                                            {{ form_errors(formCapteur.etat) }}
                                            {{ form_label(formCapteur.etat, "Etat") }}
                                            <div class="checkbox">
                                                En cours{{ form_widget(formCapteur.etat, {'id': 'etat', 'attr': {'class': 'checkbox-inline'}}) }}
                                            </div>
                                            <div class="clear"></div>
                                    </div>
                            </div>

                            <p>
                                <input type="hidden" name="id" value="42" />
                                <input type="hidden" name="station_id" value="7" />
                                <input type="hidden" name="nom" value="Alim LNS">
                            </p>

            </div>

           <div class="clear"></div>
                    <div id="user-edit-form">
                                    <div class="colx2">
                                            <div class="colx3">
                                                    <div class="margin">
                                                        <input type="submit" value="Annuler" onclick="window.location.href='http://paratronic.doplus.pro/capteur.php?station_id=7'">
                                                    </div>
                                            </div>
                                            <div class="colx3">
                                                    <div class="margin">
                                                            <input type="submit" name="valider_capteur" value="Valider">
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="clear"></div>

                    </div>	

    </div>
{{ form_end(formCapteur) }}
{% endblock %}